					<div id="footer" class="container">
						<div class="row">
							<div class="6u 12u(mobile)">
								<header>
									<h2 class="icon fa-file-text-o"> A LIRE AUSSI</h2>
								</header>
								<section>
									<B_posts>
											#ANCRE_PAGINATION
									<BOUCLE_posts(ARTICLES){par hasard}{! par date}{exclus}{pagination 5}>
										<div class="archive_post_block">
											<h3 class="icon fa-caret-right" id="post-#ID_ARTICLE"><a href="#URL_ARTICLE" title="#TITRE" rel="bookmark">#TITRE</a></h3>
										<p class="#EDIT{intro}">[(#TEXTE|justifier|couper{300, ... <a href="#URL_ARTICLE"> <em>Lire la suite...</em></a>})]</p>
									</BOUCLE_posts>
										[<p class="navigation">(#PAGINATION{precedent_suivant})</p>]
									</B_posts>
								</section>
							</div>
							<div class="6u 12u(mobile)">
							<h2 class="icon fa-comments"> OUTILS DE MEDIAS SOCIAUX</h2>
								<section>
								<p>Vous avez besoin de nous contacter ou simplement de connaître en temps réels les publications du site <b>#NOM_SITE_SPIP</b>, nous mettons à votre disposition différents outils de médias sociaux.</p>
									<div class="row">
										<div class="6u 12u(mobile)">
											<header>
											</header>
											<ul class="icons">
												<li class="icon fa-envelope"><a href="mailto:#EMAIL_WEBMASTER">Nous contacter</a></li>
												<!-- <li class="icon fa-twitter"><a href="https://[votre fil twitter">Twitter</a></li> //-->
											</ul>
										</div>
										<!-- <div class="6u 12u(mobile)">
											<ul class="icons">
												<li class="icon fa-rss"><a href="#URL_PAGE{backend}" rel="alternate" title="<:syndiquer_site:>">#NOM_SITE_SPIP via fil RSS</a></li>
												<li class="icon fa-calendar"><a href="webcal:#URL_SITE_SPIP//spip.php?page=ical">#NOM_SITE_SPIP via iCal</a></li>
											</ul>
										</div> //-->
									</div>
								</section>
							</div>
						</div>
					</div>	
					</BOUCLE_article>
