					<div class="row">
							<div class="6u 12u(mobile)">
								<header>
									<h2 class="icon fa-file-text-o"> articles les plus populaires</h2>
								</header>
								<section>
									<B_posts>
											#ANCRE_PAGINATION
									<BOUCLE_posts(ARTICLES){tout}{par popularite}{inverse}{pagination 5}>
										<div class="archive_post_block">
											<h3 class="icon fa-caret-right" id="post-#ID_ARTICLE"><a href="#URL_ARTICLE" title="#TITRE" rel="bookmark">#TITRE</a></h3>
										<p class="#EDIT{intro}">[(#TEXTE|justifier|couper{300, ... <a href="#URL_ARTICLE"> <em>Lire la suite...</em></a>})]</p>
									</BOUCLE_posts>
										[<p class="navigation">(#PAGINATION{precedent_suivant})</p>]
									</B_posts>
								</section>
							</div>
							<div class="6u 12u(mobile)">
								<section>
									<ul class="icons">
									<h2 class="icon fa-superpowers"> Outils de m&eacute;dias sociaux</h2>
									</ul>
									<p>Vous avez besoin de nous contacter ou simplement de connaître en temps r&eacute;els les publications du site <b>#NOM_SITE_SPIP</b>, nous mettons &agrave; votre disposition différents outils de m&eacute;dias sociaux.</b></p>
									<div class="row">
										<div class="6u 12u(mobile)">
											<ul class="icons">
												<li class="icon fa-envelope">
													<a href="mailto:#EMAIL_WEBMASTER">Nous contacter</a>
												</li>
												<!-- <li class="icon fa-twitter"><a href="https://[votre_fil_twitter]">Nom Twitter</a> 
												</li> //-->
											</ul>
										</div>
										<!--- Site permettant de configurer les icones  http://fontawesome.io/icons/ --->
										<!-- <div class="6u 12u(mobile)">
											<ul class="icons">
												<li class="icon fa-rss">
												<a href="#URL_PAGE{backend}" rel="alternate" title="<:syndiquer_site:>">#NOM_SITE_SPIP via fil RSS</a>
												</li>
												<li class="icon fa-calendar">
												<a href="webcal:#URL_SITE_SPIP//spip.php?page=ical">#NOM_SITE_SPIP via iCal</a>
												</li>
											</ul>
										</div> //-->
									</div>
								</section>
							</div>
						</div>
					</div>
