				<div id="header-wrapper">
					<div id="header" class="container">
						<!-- Logo -->
							<h1 id="logo"><a href="#URL_SITE_SPIP/">#NOM_SITE_SPIP</a></h1>
							<p>#SLOGAN_SITE_SPIP.</p>
						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a class="icon fa-home" href="#URL_SITE_SPIP/" title="<:Page_accueil_du_site:>"><span>#NOM_SITE_SPIP</span></a></li>
									<li>
										<a href="" class="icon fa-bar-chart-o" title="<:Contenu_du_site:>"><span>Contenu</span></a>
										<ul>
											<li><a href="#URL_SITE_SPIP/spip.php?rubrique1">News</a>
												<!--<ul>
													<li><a href="#URL_SITE_SPIP/?-XXXXX">Nom de la rubrique</a></li>
													<li><a href="#URL_SITE_SPIP/?-XXXXX">Nom de la rubrique</a></li>
													<li><a href="#URL_SITE_SPIP/?-XXXXX">Nom de la rubrique</a></li>
												</ul> //-->
											</li>
										</ul>
									</li>
									<li><a class="icon fa-archive" href="#URL_PAGE{archives}" title="<:Archives_du_site:>"><span>Archives</span></a></li>
									<li><a class="icon fa-sitemap" href="#URL_PAGE{plan}" title="<:Plan_du_site:>"><span>Plan du site</span></a></li>
								</ul>
							</nav>
					</div>
				</div>
