<a href="https://twitter.com/#ENV{user}" class="twitter-follow-button" data-show-count="false" data-lang="fr">Suivre @#ENV{user}</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>