[(#REM)

  Squelette Webfonts
  (c) 2010 Cedric MORIN
  Distribue sous licence GPL

]
<div class="ajax">
	#FORMULAIRE_CONFIGURER_WEBFONTS
</div>

<a href="https://www.google.com/fonts" target="_blank">https://www.google.com/fonts</a>