<div class="formulaire_spip formulaire_configurer formulaire_#FORM">

	<h3 class="titrem"><:depublie:cfg_titre_parametrages:></h3>

	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

	<form method="post" action="#ENV{action}">
	<div>
		#ACTION_FORMULAIRE{#ENV{action}}

		<input type="hidden" name="_meta_casier" value="depublie" />
		
			<legend><:depublie:configurer_rubrique_depublie:></legend>
			<ul>
			<!-- id_secteur des depublications-->
				#SET{name,secteur_depublie}#SET{obli,''}#SET{erreurs,#ENV**{erreurs}|table_valeur{#GET{name}}}
				<li class="editer long_label editer_[(#GET{name})][ (#GET{obli})][ (#GET{erreurs}|oui)erreur]">
					<label for="#GET{name}">[(#GET{fl}|concat{'depublie:label_',#GET{name}}|_T)]</label>[
					<span class='erreur_message'>(#GET{erreurs})</span>
					]<input type="text" name="#GET{name}" class="text" value="#ENV*{#GET{name}}" id="#GET{name}" [(#HTML5|et{#GET{obli}})required='required']/>
				</li>
				
			<!-- id_rubrique des depublications-->
				#SET{name,rubrique_depublie}#SET{obli,''}#SET{erreurs,#ENV**{erreurs}|table_valeur{#GET{name}}}
				<li class="editer long_label editer_[(#GET{name})][ (#GET{obli})][ (#GET{erreurs}|oui)erreur]">
					<label for="#GET{name}">[(#GET{fl}|concat{'depublie:label_',#GET{name}}|_T)]</label>[
					<span class='erreur_message'>(#GET{erreurs})</span>
					]<input type="text" name="#GET{name}" class="text" value="#ENV*{#GET{name}}" id="#GET{name}" [(#HTML5|et{#GET{obli}})required='required']/>
				</li>
			</ul>
			<legend><:depublie:configurer_statut_depublie:></legend>
			<ul>
			<!-- statut des depublications-->
				#SET{name,statut_depublie}#SET{obli,''}#SET{erreurs,#ENV**{erreurs}|table_valeur{#GET{name}}}
				<li class="editer long_label editer_[(#GET{name})][ (#GET{obli})][ (#GET{erreurs}|oui)erreur]">
					<label for="#GET{name}">[(#GET{fl}|concat{'depublie:label_',#GET{name}}|_T)]</label>[
					<span class='erreur_message'>(#GET{erreurs})</span>
					]<select name="#GET{name}" class="select" id="#GET{name}">
						<BOUCLE_statuts(DATA){source table, #VAL{spip_articles}|objet_info{statut_titres}}{cle != publie}>
						<option value="#CLE"[(#ENV*{#GET{name}}|=={#CLE}|oui)selected="selected"]>[(#VALEUR|_T)]</option>
						</BOUCLE_statuts>
					</select>
				</li>
			</ul>
			<legend><:depublie:configurer_duree_publication:></legend>
			<ul>
				<!-- duree de publication-->
				#SET{name,publication_duree}#SET{obli,''}#SET{erreurs,#ENV**{erreurs}|table_valeur{#GET{name}}}
				<li class="editer long_label editer_[(#GET{name})][ (#GET{obli})][ (#GET{erreurs}|oui)erreur]">
					<label for="#GET{name}">[(#GET{fl}|concat{'depublie:label_',#GET{name}}|_T)]</label>[
					<span class='erreur_message'>(#GET{erreurs})</span>
					]<input type="text" name="#GET{name}" class="text" value="#ENV*{#GET{name}}" id="#GET{name}" [(#HTML5|et{#GET{obli}})required='required']/>
				</li>
				<!-- periode: mois ou jour ?-->
				#SET{name,publication_periode}#SET{obli,''}#SET{erreurs,#ENV**{erreurs}|table_valeur{#GET{name}}}
				<li class="editer long_label editer_[(#GET{name})][ (#GET{obli})][ (#GET{erreurs}|oui)erreur]">
					<label for="#GET{name}">[(#GET{fl}|concat{'depublie:label_',#GET{name}}|_T)]</label>
					<select name="#GET{name}" class="select" id="#GET{name}">
						<option value="jours"[(#ENV*{#GET{name}}|=={jours}|oui)selected="selected"]><:depublie:label_jour:></option>
						<option value="mois"[(#ENV*{#GET{name}}|=={mois}|oui)selected="selected"]><:depublie:label_mois:></option>
					</select>
				</li>
			</ul> 
		<p class="boutons"><span class="image_loading">&nbsp;</span><input type="submit" class="submit" value="<:bouton_enregistrer:>" /></p>
	</div>
	</form>
</div>